h1 a {
    color: #7b9ac4;
    font-family: Helvetica;
      font-size: 20pt;
}

body {
    padding-left: 30px;
}

 a {
    color: #7b9ac4;
    font-family: Helvetica;
}

li a {
    color: green;
}

.mydata_name {
  color: #454646;
  font-family:arial;
  font-size: 11pt;
}

.mydata_value {
  color: #454646;
  font-family:arial;
  font-size: 11pt;
    color: #9da0a0;
}