h1 a {
    color: #7b9ac4;
    font-family: Helvetica;
      font-size: 20pt;

}

body {
    padding-left: 30px;
}

 a {
    color: #7b9ac4;
    font-family: Helvetica;
     font-size: 13pt;
}

.mydata_name {
    color: #454646;
    width:120px;
    float:left;
    font-family:arial;
    font-size: 11pt;
}

.mydata_empty {
    width:80px;
    float:left;
}

.mydata_value {
    width:250px;
    float:left;
    font-family:arial;
    font-size: 11pt;
    color: #9da0a0;
}

 .inner_cell{
     height:22px;
 }

.right_menu {
    float:right;
    background:#edebeb;
    width:100px;
}

.to_request {
    height: 22px;
    clear: left;
}

.request_header {
    color: #fffdfd;
    background: #abb4b4;
    font-family: Helvetica;
    table-layout:initial;
    font-size: 12pt;
}

.request_data {
    color: #707979;
    font-family: Helvetica;
    font-size: 11pt;
}

.request_readed {
    color: #707979;
    background: #d6f6d0;
    font-family: Helvetica;
    font-size: 11pt;
}

.request_unreaded {
    color: #707979;
    background: #e9f2dc;
    font-family: Helvetica;
    font-size: 11pt;
}


.request_unreaded_from_ajax {
    color: #707979;
    background: #c5dbf2;
    font-family: Helvetica;
    font-size: 11pt;
}

.control-label {
    color: #454a4a;
    font-family: Helvetica;
    font-size: 11pt;
}

.thumb-image {
    float:left;
    width:300px;
    height: 300px;
    position:relative;
    padding:5px;
}