{% load staticfiles %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="{% static "assets/css/style.css" %}"/>
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div>
            <h1><a href="/">42 Coffee Cups Test Assignment</a></h1>
        </div>

    <div id="mydata">
        <ul>
        {% for mydata in frst_result %}
            <table width = 800 >
            <tr >
                <td width = "15%">Name: </td><td> {{ mydata.fName}}</td><td width = "15%">Contacts    </td>
            </tr>
            <tr>
                <td>Last Name: </td><td> {{ mydata.lName}}</td><td>Email: </td><td>{{ mydata.eMail}}</td>
            </tr>
                <tr>
                <td>Date of birth:</td><td> {{ mydata.bDate}}</td><td>Jabber:</td><td> {{ mydata.Jabber}}</td>
            </tr>
                <tr>
                <td>Bio:</td><td> {{ mydata.bio}}</td><td>Skype:</td><td> {{ mydata.Skype}}</td>
            </tr>
                <tr>
                <td> </td><td></td><td>Other contacts:</td><td> {{ mydata.otherContacts}}</td>
            </tr>
            </table>
        {% endfor %}
        </ul>
    </div>
</body>
</html>