{% extends "base.html" %}
{% block title %}42 Coffee Cups{% endblock title %}
{% block extra_head %}
    {% load staticfiles edit_link %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock extra_head %}
{% block content %}

    <div id="container">
        <div class = "mydata_name">
            <div class = "inner_cell">Name: </div>
            <div class = "inner_cell">Last Name: </div>
            <div class = "inner_cell">Date of birth: </div>
            <br>
            <div class = "inner_cell">Photo: </div>
            <div id="image-holder"> 
                <p>
                    {% if my_data.avatar %}
                        <img src="{{ my_data.avatar.url }}"
                             alt="Photo" />
                    {% else %}
                        <img class='image' src='/static/img/default.jpg'
                             alt="Photo" />
                    {% endif %}
                </p>
            </div> 
        </div>

        <div class = "mydata_value">
            <div class = "inner_cell">{{ my_data.first_name }}</div>
            <div class = "inner_cell">{{ my_data.last_name }}</div>
            <div class = "inner_cell">{{ my_data.birth_date }}</div>
        </div>

        <div class = "mydata_empty"><br> </div>

        <div class = "mydata_name">
            <div class = "inner_cell"><b>Contacts: </b></div>
            <div class = "inner_cell">Email: </div>
            <div class = "inner_cell">Jabber: </div>
            <div class = "inner_cell">Skype: </div>
            <br>
            <div class = "inner_cell">Bio: </div>
            <br>
            <br>
            <br>
            <div class = "inner_cell">Other contacts: </div>
        </div>

        <div class = "mydata_value">
            <div class = "inner_cell"></div>
            <div class = "inner_cell">{{ my_data.email }}</div>
            <div class = "inner_cell">{{ my_data.jabber }}</div>
            <div class = "inner_cell">{{ my_data.skype }}</div>
            <br>
            <div class = "inner_cell">{{ my_data.bio|linebreaks }}</div>
            <br>
            <br>
            <br>
            <div class = "inner_cell">{{ my_data.other_contacts|linebreaks }}</div>
        </div>

        <div>
            {% if user.is_authenticated %}
                <a href="{% url 'edit' %}">Edit</a> 
                |
                <a href="{% edit_link my_data %}">(admin)</a>
                |
                <a align="right" href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
            {%endif %}
        </div>

    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="to_request">
        <br>
        <br>
        <hr>
        <a href="{% url 'requests' %}">Go to Requests</a>
    </div>
{% endblock content %}