{% extends "base.html" %}
{% block title %}42 Coffee Cups{% endblock title %}
{% block extra_head %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock extra_head %}
{% block content %}

    <div id="container">
        <div class = "mydata_name">
            <div class = "inner_cell">Name: </div>
            <div class = "inner_cell">Last Name: </div>
            <div class = "inner_cell">Date of birth: </div>
            <br>
            <div class = "inner_cell">Photo: </div>
            <div id="image-holder"> 
                <p>
                    {% if first_result.avatar %}
                        <img src="{{ MEDIA_URL }}{{ first_result.avatar.url }}"
                             alt="Photo" />
                    {% else %}
                        <img class='image' src="/static/img/default.jpg" alt="Photo" />
                    {% endif %}
                </p>
            </div> 
        </div>

        <div class = "mydata_value">
            <div class = "inner_cell">{{ first_result.first_name }}</div>
            <div class = "inner_cell">{{ first_result.last_name }}</div>
            <div class = "inner_cell">{{ first_result.birth_date }}</div>
        </div>

        <div class = "mydata_empty"><br> </div>

        <div class = "mydata_name">
            <div class = "inner_cell"><b>Contacts: </b></div>
            <div class = "inner_cell">Email: </div>
            <div class = "inner_cell">Jabber: </div>
            <div class = "inner_cell">Skype: </div>
            <br>
            <div class = "inner_cell">Bio: </div>
            <br>
            <br>
            <br>
            <div class = "inner_cell">Other contacts: </div>
        </div>

        <div class = "mydata_value">
            <div class = "inner_cell"></div>
            <div class = "inner_cell">{{ first_result.email }}</div>
            <div class = "inner_cell">{{ first_result.jabber }}</div>
            <div class = "inner_cell">{{ first_result.skype }}</div>
            <br>
            <div class = "inner_cell">{{ first_result.bio|linebreaks }}</div>
            <br>
            <br>
            <br>
            <div class = "inner_cell">{{ first_result.other_contacts|linebreaks }}</div>
        </div>

        <div class = "mydata_empty">
            {% if is_auth %}<a href="{% url 'edit' %}">Edit</a>{% endif %}
            {% if not is_auth %}<a href="{% url 'login' %}">Login</a>{%endif %}

        </div>

        <div class = "right_menu">
            <a href="admin">Admin page</a>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="to_request">
        <br>
        <br>
        <hr>
        <a href="{% url 'requests' %}">Go to Requests</a>
    </div>
{% endblock content %}