{% extends "base.html" %}
{% block title %}42 Coffee Cups - Login{% endblock title %}
{% block extra_head %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

{% endblock extra_head %}
{% block content %}

<div class="container col-sm-5">

    <form class="form-horizontal" role="form" id="login_form" method="post" action="{% url 'login' %}">
        <br>
        <p>Who are you?</p>
        <br>
        {% csrf_token %}

        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Username:</label>
            <div class="col-sm-6">
                <input type="text" name="username" class="form-control input-sm" id="login" placeholder="You must be an admin">
            </div>
        </div>

        <div class="form-group">
            <label  class="control-label col-sm-2" for="pwd">Password:</label>
            <div class="col-sm-6">
                <input type="password" name="password"
                       class="form-control input-sm" id="password">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>

        <hr class="col-sm-offset4 col-sm-7">

    </form>
    <br>
    <br>
    <br>
    <a href="{% url 'home' %}">To main page</a>

{% endblock content %}