{% extends "base.html" %}

{% block extra_head %}
    {% load staticfiles %}
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{% static 'js/requests.js' %}"></script>
{% endblock extra_head %}

{% block title %}No New Requests{% endblock title %}

{% block content %}
    <div id="container" class="col-md-9">
             <!--TODO make form to show last 10 and save priority -->
             <!--TODO make inputs in table?-->
            <table class="table table-hover table-striped col-sm-5"
                   id="webrequest_block" >  <thead>
            <tr>
                <th class="request_header"> ID </th>
                <th class="request_header"> Priority </th>
                <th class="request_header"> Method </th>
                <th class="request_header"> Uri </th>
                <th class="request_header"> Status code </th>
                <th class="request_header"> Remote address </th>
            </tr>
            </thead>
                <tbody>
                </tbody>
            </table>
    </div>

    <div class="col-md-9" style="clear:left;">
        <hr>
        <a href="{% url 'home' %}">To main page</a>
    </div>
{% endblock content %}